@charset "utf-8";
/* CSS Document */

.wrapper {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-column-gap: 3em;
	grid-row-gap: 3em;
	background-color: #EFEEFC;
}




.header {
	grid-column: 2 / span 4;
	grid-row: 1;
	height: 12em;
	background-color: #1C1ADD;
	padding-right: auto;
	padding-left: auto;
}

.header h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ECE772;
	font-weight: bold;
	text-align: center;
	font-size: 5em;
}

.header h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ED1014;
	font-weight: 200;
	text-align: center;
	font-size: 0.5em;
}


.nav {
	grid-column: 1 / span 6;
	grid-row: 2;
	height: 80px;
	background-color: #ABA9C4;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 0px #FFFFFF;
}

.nav h1 a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #F4F4F9;
	font-weight: bold;
	font-size: 0.6em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;	
}


.nav h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #000;
	font-weight: bold;
	font-size: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
	display: block;
}




.ansage {
	grid-column: 1 / span 6;
	grid-row: 2;
	height: 27em;
	background-color: #ABA9C4;
	padding: 10px;
}

.ansage h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 50;
	text-align: center;
	font-size: 8em;
	line-height: 1em;
	letter-spacing: 0px;
}

.article_titel {
	grid-column: 2 / span 3;
	grid-row: 3;
	height: auto;
	background-color: #fff;
	margin_bottom: 1em;
	padding-right: auto;
	padding: 10px;
	
}

.article_titel h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1614CB;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
}

.article_titel h11 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ED1014;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
}

.article_titel h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 300;
	text-align: left;
	font-size: 2em;
}

.article_titel h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	background-color: #ECE772;
	font-weight: 200;
	text-align: left;
	font-size: 2em;
}



.article_titel h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #1C1ADD;
	background-color: #FFF;
	font-weight: 400;
	font-size: 1em;
	text-transform: none;
	list-style-position: inside;
}



.article {
	grid-column: 2 / span 4;
	grid-row: 3;
	height: auto;
	background-color: #fff;
	margin_bottom: 1em;
	padding-right: auto;
	padding: 10px;
	
}



.article h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1614CB;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
}

.article h11 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ED1014;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
}

.article h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 300;
	text-align: left;
	font-size: 2em;
}

.article h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	background-color: #ECE772;
	font-weight: 200;
	text-align: left;
	font-size: 2em;
}



.article h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #1C1ADD;
	background-color: #FFF;
	font-weight: 400;
	font-size: 1em;
	text-transform: none;
	list-style-position: inside;
}

.article h5 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #FFF;
	font-weight: 400;
	font-size: 2em;
    line-height: 1em;
}

.article h6 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #FFF;
	font-weight: 400;
	font-size: 2em;
    line-height: 1em;
}




.article tr td {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #000;
	font-size: 1.8em;
    font-weight: 400;
	text-decoration: none;
	text-align: left;
}


.article table {
    cellpadding: 20px;
    cellspacing: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto; 
    font-size: 0.7em;
    font-weight: 400;
}




.article_rubrik {
	grid-column: 2 / span 4;
	grid-row: 3;
	height: auto;
	background-color: #FFFFFF;
	padding-right: auto;
	padding-left: auto;
	margin-right: 10px;	
}

.article_rubrik h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #85849E;
	font-weight: bold;
	text-align: left;
	font-size: 2em;
}

.article_rubrik h1 a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #85849E;
	font-weight: bold;
	text-align: left;
	font-size: 1,5em;
	text-decoration: none;
}

.article_rubrik h11 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ED1014;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
}

.article_rubrik h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 300;
	text-align: right;
	font-size: 1.5em;
}

.article_rubrik h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	background-color: #ECE772;
	font-weight: 200;
	text-align: left;
	font-size: 1em;
}


.article_rubrik table {
    cellpadding: 20px;
    cellspacing: 20px;
    width: 70em;
    margin-left: auto;
    margin-right: auto;  
}

.article_rubrik td {
	width: 50%;
	padding: 15px;
	border-radius: 20px 0 0;
	border: thick solid #F4EE56;
	margin: 10px;
	color: #000000;
	background-color: #D0CFE3;
}







.article_tip_auswahl h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 300;
	text-align: left;
	font-size: 2em;
}
/* ende tip_auswahl_seite /////////////////////////////////////////////////////////////////////////////////////////////// */


.aside {
	grid-column: 5;
	grid-row: 3;
	height: auto;
	background-color: #fff ;
	margin_top: 10px;
	margin_bottom: 10em;
	padding-top: auto;
	padding-right: auto;
	padding: 5px;
}

.aside h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1614CB;
	font-weight: bold;
	text-align: left;
	font-size: 2.8em;
}

.aside h2 ul li a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	font-weight: 300;
	text-align: left;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: square;
	line-height: normal;
}

.aside h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #1C1ADD;
	background-color: #ECE772;
	font-weight: 200;
	text-align: left;
	font-size: 1.5em;
}








.abstand {
	grid-column: 2 / span 4;
	grid-row: 4;
	height: 1em;
	/*background-color: #FFFFFF;*/
	padding-right: auto;
	padding-left: auto;
}

.abstand h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #ED1014;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}







.footer {
	grid-column: 1 / span 6;
	grid-row: 5;
	height: 5em;
	padding-right: auto;
	padding-left: auto;
	padding: 10px;
    border: thick;
    border-color: #ED1A1D;
}

.footer h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #FFF;
    background-color: #ABA9C4;
	font-weight: 400;
	text-align: center;
	font-size: 1em;
}

.footer h1 a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed",  "Helvetica", "Arial", sans-serif;
	color: #FFF;
    background-color: #ABA9C4;
	font-weight: 400;
	font-size: 1em;
	text-decoration: none;
}
